.footer{
    
    align-items: baseline;
  display: flex;
      padding-top: 60px;
      padding-left: 15px;
  background-color: #2f303a;
  
  &__section{
      
      display: flex;
     width: 1200px;
     align-items: baseline;
  }
  &__site{
      display: block;
  }}

  
  
  .site-nav__logo--inverse{
      color:var(--secondary-text-color);
      
  }
  .navigation__set{
      margin-bottom: 20px;
 
  &--adress{
      font-family: 'Roboto';
      @include font(14px, 400, 2);
  letter-spacing: 0.03em;
  margin-top: 20px;
  transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  color:var(--secondary-text-color);
  }
  &--adress:hover,
  &--adress:focus{
      color: var(--accent-color);
  } }
  .navigation__mailto {
     font-family: 'Roboto';
     @include font(14px, 400, 2);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus{
      color: var(--accent-color);
    
  } }

  .navigation__email{
    margin-top: 9px;
margin-bottom: 9px;}

  .navigation__tel{
      padding-bottom: 60px;
     
  }

  .container-box{
    margin-left: 70px;
    margin-top: 15px;
}
.contents__box{
    position: relative;
    overflow: hidden;
}
.join{
    font-family: 'Roboto';
    @include font(14px, 700 , 16px);
    letter-spacing: 0.03em;
   margin-bottom: 20px;
    color:var(--secondary-text-color);
    

}
.icon{
    display: flex;
  margin-right: 10px;
 
 &__set{
     fill:var(--secondary-text-color);
 }}
 .icon__item{
    @extend %flex-center;
     @include box(40px, 40px);
     border-radius: 50%;
     margin-right: 10px;
     background-color: rgba(255, 255, 255, 0.1);
     fill: var(--secondary-text-color);
     transition-property: background-color color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
 
 &:hover,
 &:focus{
     fill:var(--secondary-text-color);
     background-color: var(--accent-color);
     
 }}
.bin{
    margin-left: 93px;
   
&__item{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    }

&__label{
    position: relative;
    @include box(207px , 16px);
font-family: 'Roboto';
@include font(14px, 700, 16px);
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--secondary-text-color);
}

}
.bin__textarea{  
    @extend %flex-center; 
    @include box(358px, 50px);
resize: none;
background-color: var(--background-color);
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
padding:11px 16px;
margin-right: 12px;
background-color: transparent;
outline: none;
color: #ffffff;

&::placeholder{
    @include box(47px, 20px);
font-family: 'Roboto';
@include font(16px, 400 , 20px);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
} 

}
.bin__textarea:hover{
    fill:#2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.bin__textarea:focus{
    border:1px solid #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .bin__button::after{
    margin-left: 10px;
    position: absolute;
    content: "";
display: inline-block;
transform: translateY(10%);
background-image: url(../../imq/icon\ send\ \(2\)\ \(1\).svg);
background-size: contain;
@include box(24px, 24px);


}
