.page-header{
    height: 80px;
    @extend %flex-center;
    border-bottom: 1px solid #eeee;
    
    }
    .site-nav{
     display: flex;
    justify-content: center;
    
    
    &__list,
    &__info{
        display: flex;
        align-items: center;
      
    }
    &__list{
        grid-column-gap: 50px; 
    }
    
    &__info{
        margin-left: auto;
      
    }
    /* header */
    &__logo{
        
        @include font (26px, 700, 1.14);
        font-family: 'Raleway';
    

        letter-spacing: 0.03em;
        color:var(--accent-color);
        
    }
    
    &__stydio{
    margin-right: 93px;
    color:var(--title-text-color);
    }
    
    &__text{
        font-family: 'Roboto';
       
        @include font(14px, 500, 1.14);
        letter-spacing: 0.02em;
        position: relative;
        transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color:var(--title-text-color);}
    
    &__text--active{
    color:var(--accent-color);
    transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    &__text--active:after{
        position: absolute;
        @include box(100%, 4px);
    margin-top: 28px;
    content:"" ;
    display: block;
    background-color:var(--accent-color);
    border-radius: 2px;}
    &__text:hover,
    &__text:focus{
        color:var(--accent-color);
    }
    
    &__contact{
        display: flex;
        justify-content: first baseline;
        }
    &__contact:not(:last-child)
    {
        margin-right: 50px;
    }
    
    &__email-adres{
       font-family: 'Roboto';
       @include font(14px, 500, 1.14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__email-adres:hover,
    &__email-adres:focus{
        color: var(--accent-color);
    }
    
    &__tel,
    &__email-adres
    {
        display: flex;
        align-items: center;
    }
    &__tel{
      justify-content: baseline;
       align-items: center;
    
    }}